.hero-title {
	font-size: 3rem;
	font-weight: bold;
	text-decoration: underline;
	color: #979eb8;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
}

.hero-p {
	color: #b5a5a5;
}

.hero {
	text-align: center;
	margin: 10rem 1rem;
}

.hero-image {
	margin: 2rem 0;
	height: 20rem;
}

@media (min-width: 600px) {
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.Login{
    display: flex;
    padding: 16px 16px;
    background: #2F3C51;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: white;
}

a{
    font-style: none;
    text-decoration: none;
    color: white;
}

