:root{
    --blue: #2F3C51;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #324f5f;
    color: #eee;
    font-family: "Montserrat", sans-serif;

}

.logo{
    display: flex;
    justify-content: left;
    align-items: left;
    height: 120px;
    width: auto;
    background-color: #5A7787;
    border-bottom: 10px solid #385565;

}

.chambre1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.chambre2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.prix{
    font-size: 25px;
    padding-bottom: 10px;
}

.type_chambre{
    font-size: 17px;
    padding-bottom: 15px;
}
.lit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.capacite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.taille{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}

.info{
    width: 800px;
}

.image_c1{
    border-radius: 22px;
}

.image_c2{
    border-radius: 22px;

}

.button-submit{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    padding: 10px;
}

.button-submit button{
    padding: 15px 10px;
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: 150px;
    font-weight: 700;
    margin-top: 10px;
}

.box-reservation{
    background-color: #5a7787;
    display: flex;
    margin: auto;
    height: 75%;
    width: 65%;
    border-radius: 22px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border: 5px solid #385565;
}

label{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

}

input{
    font-size: 15px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-radius: 25px;
    padding: 20px;
    border: none;
    margin-top: 12px;
}
.button-submit button:hover{
    opacity: .8;
}

input:focus{
    outline: none;
}